<!DOCTYPE html>
<html>

<head>
    <title>ModularFlix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel= "stylesheet">
    
</head>

<body>
    <%= yield %>
    <%= javascript_pack_tag 'application'%>
</body>

</html>